/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  /* font-family: 'Noto Sans JP', sans-serif; */
}

html {
  font-size: 1px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024);
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768);
  } 
}

@media screen and (max-width: 425px) {
  html {
    font-size: calc(100vw / 425);
  } 
} 

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16rem;
}

#header {
  max-width: 1024px;
  margin: 0 auto;
  z-index: 2;
  height: 40rem;
}

main {
  max-width: 1024px;
  /* background-color: #bee373; */
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showMe {
  display: flex;
  transition: all 0.3s ease-in-out;
  /* right: 0; */
}

.hiddenMe {
  display: none;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}